
#query_form,
#issue-form,
#new_version,
#new_project,
#new_issue_category,
#news-form,
#new_page,
#new_document,
#repository-form,
.edit_project,
.controller-files.action-new #content form {
  background-color: $color-neutral-lightest;
  padding: $base-v-spacer $base-h-spacer;
  margin-bottom: $base-v-spacer;

  legend {
    font-weight: bold;
  }

  label {
    display: inline-block;
    width: 120px;
    border-bottom: 1px dotted $color-neutral-mid;
    line-height: $font-size-normal*2;
  }

  .add-filter {
    label {
      width: auto;
      font-weight: bold;
    }
  }

  .icon-edit {
    margin-left: $base-h-spacer/2;
  }

  .info  {
    display: block;
    font-size: $font-size-small;
  }
}

fieldset {
  padding: $base-v-spacer 0;
  &.collapsible {
    legend {
      @include fa-icon($fa-var-minus-square-o, 1px);
      &::before {
        color: $color-primary-mid;
      }
      cursor: pointer;
      font-weight: bold;
    }
    &.collapsed {
      legend {
        @include fa-icon($fa-var-plus-square-o, 1px);
      }
    }
  }

}

.select2 {
  margin-left: $base-h-spacer;
  min-width: 200px;
  margin-right: $base-h-spacer;
}

input::-moz-focus-inner { border:0; padding:0 }

input {
  display: inline-block;
  margin-left: $base-h-spacer;
  margin-right: $base-h-spacer;
  padding: 0 $base-h-spacer;
  border: 1px solid $color-neutral-mid;
  cursor: pointer;
  @include transition(border-color 0.5s ease);

  &:focus {
    border: 1px solid $color-secondary-1-dark;
  }

  &.select2-search__field,
  &[type=submit]{
    margin-left: 0;
    line-height: inherit;
    border: 0;
    font-size: $font-size-normal;
    font-family: $font-primary;
  }
  &[type=submit]{
    @include btn-validate();
  }
}

input[type=checkbox] {
  display: inline-block;
  margin: 0 $base-h-spacer/2 0 0;
  padding: 0;
}

.select2-container--default,
.select2-container--default .select2-selection--single .select2-selection__rendered,
input {
  line-height: $font-size-normal*2;
}

.select2-container,
.select2-container .select2-selection--single {
  height: $font-size-normal*2;
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple,
.select2-container--default .select2-selection--single,
.select2-dropdown {
  border-radius: 0;
}

.select2-results__option,
.select2-search--dropdown .select2-search__field {
  padding: 0 $base-h-spacer;
}

#issue_is_private_wrap {
  float: right;
}

div.jstElements {
  background-color: $color-neutral-mid;
  padding: $base-v-spacer/2 $base-h-spacer;

  button {
    cursor: pointer;
  }
}

.jstEditor textarea {
  width: 100%;
  padding: $base-v-spacer $base-h-spacer;
  font-size: $font-size-normal;
}

#attachments_fields {
  display: block;
  span {
    display: block;
    margin-bottom: $base-v-spacer;
  }
}

.required {
  color: $color-cancel-mid;
}