#top-menu {
    border-top: 4px solid $color-complement-lightest;
}

#header {
  background-color: $color-primary-dark;
  padding: $base-v-spacer*2 $base-h-spacer 0;
  @include box-shadow(inset 0px 10px 5px 0px rgba(0,0,0,0.2))

  form {
    background-color: transparent;
    float: left;
  }

  #project_quick_jump_box {
    display: inline-block;
    margin: $base-v-spacer 0;
  }

  a {
    color: $color-neutral-lightest;
    &:hover {
      color: $color-secondary-1-light;
    }
  }

  h1 {
    color: $color-neutral-lightest;
    margin-bottom: 0;
  }
}