body {
  overflow-x: hidden; 
}

#top-menu {
  
  #account {
    float: right;
  }

  #loggedas {
    float: right;
  }

  ul {
    float: left;
  }

  @include clearfix();   
}

#header {

  #quick-search {
    float: right;
  }

  @include clearfix();
}

#main {
  position: relative;
  @include clearfix();
}

#sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  @include transition(width 1s ease);

  .innerwrap {
    opacity: 1;
    @include transition(opacity .5s ease);
  }
}

#sidebar-handle {
  position: absolute;
  top: 0;
  right: $base-h-spacer;
}


#content {
  float: left;
  width: 80%;
  @include transition(width 1s ease);
}

.sidebar_closed {
  #sidebar {

  width: 0;
    .innerwrap {
      opacity: 0.01;
    }
  }

  #content {
    width: 100%;
  }
}

#main.nosidebar #sidebar { display: none; }