#top-menu {
  
  #account {
    float: right;
  }

  #loggedas {
    float: right;
  }

  ul {
    float: left;
  }

  @include clearfix();   
}

#header {

  #quick-search {
    float: right;
  }

  @include clearfix();
}

#main {
  @include clearfix();
}

#sidebar {
  float: right;
  width: 20%;
}

#content {
  float: left;
  width: 80%;
}

#main.nosidebar #sidebar { display: none; }