a {
  color: $color-primary-light;
  text-decoration: none;
  &:hover {
    color: $color-secondary-1-light;
  }
}

body, html {
  font-size: $font-size-base;
  font-family: $font-primary;
  font-color: $color-neutral-darkest;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
  margin-bottom: $base-v-spacer*2;
  }
h2 {
  font-size: 1.5rem;
  margin-bottom: $base-v-spacer*1.5;
  }
h3 {
  font-size: 1.17rem;
  margin-bottom: $base-v-spacer;
  }
h4 {
  font-size: 1.12rem;
  margin-bottom: $base-v-spacer;
  }
h5 {
  font-size: .83rem;
  margin-bottom: $base-v-spacer;
  }
h6 {
  font-size: .75rem;
  margin-bottom: $base-v-spacer;
  }

p {
  margin-bottom: $base-v-spacer;

  &:last-child {
    margin-bottom: 0;
  }
}

h3, h4, h5, h6 {
  font-weight: bold;
}

h1, h2 {
  font-family: $font-secondary;
}

em {

}

strong {
  font-weight: bold;
}

q {

}

blockquote {

}

ul {

}

ol {

}

li {

}

table {
  width: 100%;
  margin-bottom: $base-v-spacer*2;
  tr {
    &.even {
      background-color: $color-neutral-light;
    }
    &.odd {
      background-color: $color-neutral-lightest;
    }
    th {
      background-color: $color-primary-mid;
      color: $color-neutral-lightest;
      padding: $base-v-spacer $base-h-spacer;
      text-align: left;
      border-right: 1px solid $color-neutral-light;
      font-size: $font-size-small;

      a {
        color: $color-neutral-lightest;

        &.sort.desc {
          @include fa-icon($fa-var-sort-desc, $base-v-spacer*-0.3);

        };
        &.sort.asc {
          @include fa-icon($fa-var-sort-asc, $base-v-spacer*0.4);
        };
      }
    }
    td {
      padding: $base-v-spacer/2 $base-h-spacer/2;
    }
  }
}

form {
  background-color: $color-neutral-lightest;
  padding: $base-v-spacer $base-h-spacer;
}

#main {
  background-color: $color-neutral-light;
}

#content {
  padding: $base-v-spacer*3 $base-h-spacer $base-v-spacer;
}

#sidebar {
  background-color: $color-neutral-lightest;
  padding: $base-v-spacer*3 $base-h-spacer $base-v-spacer;
  min-height: 80vh;
}

.contextual {
  float: right;
  color: $color-neutral-light;
  margin: $base-v-spacer 0 $base-v-spacer $base-h-spacer;
  a {
    @include btn();
    font-size: $font-size-small;

    &.icon-add {
      @include btn-validate();
    }
  }
}