a {
  color: $color-primary-light;
  text-decoration: none;
  &:hover {
    color: $color-complement-light;
  }
}

body, html {
  font-size: $font-size-base;
  font-family: $font-primary;
  color: $color-neutral-darkest;
  line-height: 1.4rem;
  background-color: $color-neutral-dark;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 2rem;
  margin-bottom: $base-v-spacer*3;
  }
h2 {
  font-size: 1.5rem;
  margin-bottom: $base-v-spacer*3;
  }
h3 {
  font-size: 1.17rem;
  margin-bottom: $base-v-spacer*1.5;
  }
h4 {
  font-size: 1.12rem;
  margin-bottom: $base-v-spacer;
  }
h5 {
  font-size: .83rem;
  margin-bottom: $base-v-spacer;
  }
h6 {
  font-size: .75rem;
  margin-bottom: $base-v-spacer;
  }

p {
  margin-bottom: $base-v-spacer;

  &:last-child {
    // margin-bottom: 0;
  }
}

h3, h4, h5, h6 {
  font-weight: bold;
}

h1, h2 {
  font-family: $font-secondary;
}

.wiki-anchor {
  display: none;
}
h1, h2, h3, h4, h5, h6 {
  &:hover {
    .wiki-anchor {
      display: inline-block;
      padding: 0 $base-h-spacer;
    }
  }
}


em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

q {

}

blockquote {

}

hr {
  margin: $base-v-spacer 0;
  background-color: $color-complement-light;
  height: 1px;
  border: 0;
}

#content {

  ul, ol, dl {
    margin: $base-v-spacer $base-h-spacer*2;
  }

  ol, li {

  }

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0 0 $base-v-spacer 0;
  }

}

table {
  margin-bottom: $base-v-spacer*2;

  caption {
    text-align: left;
    background-color: $color-neutral-light;
    color: $color-neutral-dark;
    padding: $base-v-spacer/2 $base-h-spacer;
    font-size: $font-size-small;
  }

  &.list {
    width: 100%;
  }
  tr {
    &.even {
      background-color: $color-neutral-mid;
    }
    &.odd {
      background-color: $color-neutral-lightest;
    }

    td {
      padding: $base-v-spacer/2 $base-h-spacer/2;

      &.checkbox {
        width: 30px;
      }
    }
    &.context-menu-selection {
      background-color: $color-secondary-1-mid !important; // Cuz redmine core
      &:hover {
        background-color: $color-secondary-1-mid !important; // cuz redmine core
      }
      .checkbox {
        text-align: center;
        @include fa-icon($fa-var-check);
        &::before {
          font-size: $font-size-small;
        }
      }
    }
  }
  thead th {
    background-color: $color-primary-mid;
    color: $color-neutral-lightest;
    padding: $base-v-spacer $base-h-spacer;
    text-align: left;
    border-right: 1px solid $color-neutral-light;
    font-size: $font-size-small;
  }
  tbody th {
    background-color: $color-neutral-dark;
    color: $color-neutral-lightest;
    padding: $base-v-spacer/4 $base-h-spacer;
    text-align: left;
    border-right: 1px solid $color-neutral-light;
    font-size: $font-size-small;
  }
  th {
    a {
      color: $color-neutral-lightest;
      display: block;
      padding-right: 15px;
      position: relative;
      &.sort.desc {
        @include fa-icon($fa-var-sort-desc);
        &:before {
          position: absolute;
          right: $base-h-spacer*-.5;
          top: 0;
        }

      };
      &.sort.asc {
        @include fa-icon($fa-var-sort-asc);
        &:before {
          position: absolute;
          right: $base-h-spacer*-.5;
          top: 5px;
        }
      };
    }
  }
}

table.progress {
  margin: 0;
  background-color: $color-neutral-light;
  width: 100%;
  .done, .closed {
    background-color: $color-validate-light;
  }
  .todo {
    background-color: $color-neutral-dark;
  }
}


blockquote {
  padding-left: $base-h-spacer*6;
  position: relative;
  margin: $base-v-spacer*2 0;
  display: block;
  color: $color-neutral-dark;

  @include fa-icon($icon-quote);
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 40px;
    color: $color-neutral-mid;
    display: block;
    height: 100%;
    border-right: 2px dotted $color-neutral-mid;
    padding-right: $base-h-spacer;
  }
}

pre {
  display: block;
  background-color: $color-neutral-light;
  border-left: $base-highlight-border-width solid $color-neutral-mid;
  padding: $base-v-spacer $base-h-spacer;
  overflow: auto;
  word-wrap: nowrap;
  font-family: $font-mono;
}

code {
  display: inline-block;
  padding: 2px;
  background-color: $color-neutral-light;
  font-family: $font-mono;
}

.splitcontent {
  @include clearfix();
}

.splitcontentleft,
.splitcontentright {
  width: 50%;
}

.splitcontentleft {
  float: left;
  padding-right: $base-h-spacer/2;
}
.splitcontentright {
  float: right;
  padding-left: $base-h-spacer/2;
}

#main {
  background-color: $color-neutral-lightest;
}

#content {
  padding: $base-v-spacer*3 $base-h-spacer $base-v-spacer;
  background-color: $color-neutral-light;
  min-height: 70vh;
}

#sidebar {
  padding: $base-v-spacer*3 $base-h-spacer $base-v-spacer;

  h3 {
    margin-top:$base-v-spacer*2;

    &:first-child {
      margin-top: 0;
    }
  }
}

#sidebar-handle {
  @include btn-cancel();
  @include fa-icon($icon-arrow-right);
}

.sidebar_closed #sidebar-handle {
  @include btn-validate();
  @include fa-icon($icon-arrow-left);
}

.tip {
  display: none;
}

.tooltip {

  z-index: 25;
  position: relative;

  &:hover {
    .tip {
      display: block;
      width: 200px;
      position: absolute;
      top: 0;
      left: 0;
      border: 1px solid $color-neutral-mid;
      border-left: $base-highlight-border-width solid $color-complement-light;
      font-size: $font-size-small;
      background-color: $color-neutral-lightest;
      padding: $base-v-spacer/2 $base-h-spacer/2;
    }
  }
}

/***** Flash & error messages ****/
#errorExplanation, div.flash, .nodata, .warning, .conflict {
  padding: $base-v-spacer $base-h-spacer;
  margin-bottom: $base-v-spacer;
}

div.flash {margin-top: $base-v-spacer}

div.flash.error, #errorExplanation, div.flash.warning, .conflict, .nodata, .warning {
  background-color: $color-cancel-lightest;
  color: $color-cancel-dark;
}

div.flash.notice {
  background-color: $color-validate-lightest;
  color: $color-validate-dark;
}

/***** Ajax indicator ******/
#ajax-indicator {
position: absolute; /* fixed not supported by IE */
background-color:#eee;
border: 1px solid #bbb;
top:35%;
left:40%;
width:20%;
font-weight:bold;
text-align:center;
padding:0.6em;
z-index:100;
opacity: 0.5;
}

html>body #ajax-indicator { position: fixed; }

#ajax-indicator span {
background-position: 0% 40%;
background-repeat: no-repeat;
background-image: url(../images/loading.gif);
padding-left: 26px;
vertical-align: bottom;
}

.text-diff {
  padding: $base-v-spacer $base-h-spacer;
  background-color: $color-neutral-lightest;
  .diff_in {
    color: $color-validate-mid;
  }
  .diff_out {
    color: $color-cancel-mid;
    text-decoration: line-through;
  }
}

.icon-add { @include btn-validate(); @include fa-icon($fa-var-plus); }
.icon-time-add { @include fa-icon($icon-time) }
.icon-save { @include btn-validate(); @include fa-icon($icon-save); }
.icon-edit { @include btn(); @include fa-icon($icon-edit); }
.icon-fav-off { @include fa-icon($icon-watch); }
.icon-fav { @include fa-icon($icon-unwatch); }
.icon-comment { @include fa-icon($icon-comment); }
.icon-copy { @include fa-icon($icon-copy); }
.icon-del { @include btn-cancel();@include fa-icon($icon-delete); }
a.icon-checked { @include btn-validate(); @include fa-icon($icon-apply, 1px) }
.icon-reload { @include btn-cancel(); @include fa-icon($icon-reload) }

.icon-only.icon-checked {
  @include fa-icon($fa-var-check);
}

