#main-menu, #top-menu {
  li, a {
    display: inline-block;
  }
}

#top-menu {
  a  {
    padding: $base-v-spacer $base-h-spacer*2;
  }

  #loggedas a {
    padding-left: 0;
  }
}

#main-menu {
  position: relative;
  padding-top: $base-v-spacer*2;
  .menu-children {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $color-primary-light;
    display: none;
    &.visible {
      display: block;
    }

    li, a {
      display: block;
    }

    a {
      padding: $base-v-spacer $base-h-spacer;
      &:hover {
        background-color: $color-primary-lightest;
      }
    }
  }

  & > ul > li > a {
    padding: $base-v-spacer/2 $base-h-spacer;
    background-color: $color-primary-light;
    color: $color-neutral-lightest;
    margin-right: $base-h-spacer/2;
    @include box-shadow(inset 0px -10px 5px 0px rgba(0,0,0,0.1))


    &:hover {
      background-color: $color-primary-lightest;
      @include box-shadow(inset 0px 0px 0px 0px rgba(0,0,0,0.05))
    }

    &.selected {
      background-color: $color-neutral-light;
      color: $color-primary-mid;
      @include box-shadow(inset 0px 0px 0px 0px rgba(0,0,0,0))
    }
  }
}


#admin-menu a.projects {}
#admin-menu a.users {}
#admin-menu a.groups {}
#admin-menu a.roles {}
#admin-menu a.trackers {}
#admin-menu a.issue_statuses {}
#admin-menu a.workflows {}
#admin-menu a.custom_fields {}
#admin-menu a.enumerations {}
#admin-menu a.settings {}
#admin-menu a.plugins {}
#admin-menu a.info {}
#admin-menu a.server_authentication {}