.controller-projects {
  .splitcontentleft,
  .splitcontentright {
    & > div {
      padding: $base-v-spacer $base-h-spacer;
      background-color: $color-neutral-lightest;
    }
  }
}

#projects-index {

  ul {
    margin: 0;
  }

  li{
    margin: $base-v-spacer $base-h-spacer;

    a {
      font-size: $font-size-big;
    }

    &.root {
      margin-left: 0;
      margin-right: 0;
      background-color: #fff;
      padding: $base-v-spacer $base-h-spacer;
      border-left: $base-highlight-border-width solid $color-complement-light;
    }

    ul {
      margin: $base-v-spacer $base-h-spacer*2;
    }
  }
}