.splitcontentleft,
.splitcontentright {
  width: 50%;

  & > div {
    padding: $base-v-spacer $base-h-spacer;
    background-color: $color-neutral-lightest;
  }  
}

.splitcontentleft {
  float: left;
  padding-right: $base-h-spacer/2; 

  .wiki {
    background-color: transparent;
    padding-left: 0;
  }
}

.splitcontentright {
  float: right;
  padding-left: $base-h-spacer/2; 
}