// Palette URL: http://paletton.com/#uid=7040Y0kllllkVEvkHu6lZc-o57w */

// BLUE
$color-primary-lightest: #546CC5;
$color-primary-light: #465AA3;
$color-primary-mid: #303E73;
$color-primary-dark: #1B2444;
$color-primary-darkest: #0E1329;

// RED
$color-complement-lightest: #F06355;
$color-complement-light: #FF6858;
$color-complement-mid: #AA4339;
$color-complement-dark: #64261F;
$color-complement-darkest: #3C130F;

// GOLD
$color-secondary-1-lightest: #F0C155;
$color-secondary-1-light: #FFCC58;
$color-secondary-1-mid: #AA8739;
$color-secondary-1-dark: #644F1F;
$color-secondary-1-darkest: #3C2E0F;

// GREE
$color-neutral-lightest: #FFFFFF;
$color-neutral-light: #eeeeee;
$color-neutral-mid: #cccccc;
$color-neutral-dark: #333333;
$color-neutral-darkest: #111111;

// GREEN
$color-validate-lightest: #40B55A;
$color-validate-light: #49D368;
$color-validate-mid: #2B803E;
$color-validate-dark: #184C23;
$color-validate-darkest: #0B2D13;

// RED
$color-cancel-lightest: #F06355;
$color-cancel-light: #FF6858;
$color-cancel-mid: #AA4339;
$color-cancel-dark: #64261F;
$color-cancel-darkest: #3C130F;

// margin // padding // spacers
$base-spacer: 8px;
$base-h-spacer: $base-spacer;
$base-v-spacer: $base-spacer;

// FONTS
@import url('https://fonts.googleapis.com/css?family=Domine:700|Maitree|Mukta+Vaani:400,700');

$font-primary: 'Mukta Vaani', helvetica, arial, sans-serif;
$font-secondary: 'Domine', georgia, serif;

$font-size-base: 16px; // only for the body/html elements
$font-size-normal: 1rem;
$font-size-small: .8rem;
$font-size-big: 1.2rem;

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
