
/**
 * ================
 * ==== COLORS ====
 * ================
 */

// PALETTE
// URL: http://paletton.com/#uid=7040Y0kllllkVEvkHu6lZc-o57w

$color-primary-lightest: #476EC1;
$color-primary-light: #3E5D9F;
$color-primary-mid: #2E4372;
$color-primary-dark: #1C2944;
$color-primary-darkest: #10182A;

$color-complement-lightest: #EF4670;
$color-complement-light: #D9456B;
$color-complement-mid: #9B344E;
$color-complement-dark: #5D202F;
$color-complement-darkest: #39111B;

$color-secondary-1-lightest: #FFC24B;
$color-secondary-1-light: #EEB74C;
$color-secondary-1-mid: #AA8439;
$color-secondary-1-dark: #664F23;
$color-secondary-1-darkest: #3F3013;

$color-neutral-lightest: #FFFFFF;
$color-neutral-light: #eeeeee;
$color-neutral-mid: #cccccc;
$color-neutral-dark: #333333;
$color-neutral-darkest: #111111;

// GREEN
$color-validate-lightest: #40B55A;
$color-validate-light: #49D368;
$color-validate-mid: #2B803E;
$color-validate-dark: #184C23;
$color-validate-darkest: #0B2D13;

// RED
$color-cancel-lightest: #F06355;
$color-cancel-light: #FF6858;
$color-cancel-mid: #AA4339;
$color-cancel-dark: #64261F;
$color-cancel-darkest: #3C130F;

/**
 * =================
 * ==== SPACING ====
 * =================
 */

// margin // padding // spacers
$base-spacer: 10px;
$base-h-spacer: $base-spacer;
$base-v-spacer: $base-spacer;

/**
 * ==============
 * ==== FONT ====
 * ==============
 */

@import url('https://fonts.googleapis.com/css?family=Domine:700|Maitree|Mukta+Vaani:400,700');

$font-primary: 'Mukta Vaani', helvetica, arial, sans-serif;
$font-secondary: 'Domine', georgia, serif;

$font-size-base: 16px; // only for the body/html elements
$font-size-normal: 1rem;
$font-size-small: .8rem;
$font-size-big: 1.2rem;

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icon-news: $fa-var-newspaper-o;
$icon-cal: $fa-var-calendar;
$icon-issue: $fa-var-check-square-o;
$icon-time: $fa-var-clock-o;
$icon-version: $fa-var-code-fork;
$icon-document: $fa-var-file-o;
$icon-wiki: $fa-var-book;
$icon-apply: $fa-var-check-circle-o;
$icon-reload: $fa-var-refresh;
$icon-save: $fa-var-save;
$icon-edit: $fa-var-pencil;
$icon-comment: $fa-var-comment-o;
$icon-wiki: $fa-var-paper-plane-o;

