@charset "UTF-8";
/**
 * ================
 * ==== COLORS ====
 * ================
 */
/**
 * =================
 * ==== SPACING ====
 * =================
 */
/**
 * ==============
 * ==== FONT ====
 * ==============
 */
@import url("https://fonts.googleapis.com/css?family=Domine:700|Maitree|Mukta+Vaani:400,700");
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#top-menu {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
  #top-menu #account {
    float: right; }
  #top-menu #loggedas {
    float: right; }
  #top-menu ul {
    float: left; }
  #top-menu::before, #top-menu::after {
    content: "";
    display: table; }
  #top-menu::after {
    clear: both; }

#header {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
  #header #quick-search {
    float: right; }
  #header::before, #header::after {
    content: "";
    display: table; }
  #header::after {
    clear: both; }

#main {
  zoom: 1;
  /* For IE 6/7 (trigger hasLayout) */ }
  #main::before, #main::after {
    content: "";
    display: table; }
  #main::after {
    clear: both; }

#sidebar {
  float: right;
  width: 20%; }

#content {
  float: left;
  width: 80%; }

#main.nosidebar #sidebar {
  display: none; }

a {
  color: #3E5D9F;
  text-decoration: none; }
  a:hover {
    color: #EEB74C; }

body, html {
  font-size: 16px;
  font-family: "Mukta Vaani", helvetica, arial, sans-serif;
  color: #111111;
  line-height: 1.2rem; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

h1 {
  font-size: 2rem;
  margin-bottom: 20px; }

h2 {
  font-size: 1.5rem;
  margin-bottom: 15px; }

h3 {
  font-size: 1.17rem;
  margin-bottom: 10px; }

h4 {
  font-size: 1.12rem;
  margin-bottom: 10px; }

h5 {
  font-size: .83rem;
  margin-bottom: 10px; }

h6 {
  font-size: .75rem;
  margin-bottom: 10px; }

p {
  margin-bottom: 10px; }
  p:last-child {
    margin-bottom: 0; }

h3, h4, h5, h6 {
  font-weight: bold; }

h1, h2 {
  font-family: "Domine", georgia, serif; }

strong {
  font-weight: bold; }

#content ul, #content ol, #content dl {
  margin: 10px 20px; }

#content dt {
  font-weight: bold; }

#content dd {
  margin: 0 0 10px 0; }

table {
  margin-bottom: 20px; }
  table.list {
    width: 100%; }
  table tr.even {
    background-color: #cccccc; }
  table tr.odd {
    background-color: #FFFFFF; }
  table tr th {
    background-color: #2E4372;
    color: #FFFFFF;
    padding: 10px 10px;
    text-align: left;
    border-right: 1px solid #eeeeee;
    font-size: 0.8rem; }
    table tr th a {
      color: #FFFFFF; }
      table tr th a.sort.desc::before {
        display: inline-block;
        margin-right: 5px;
        font: normal normal normal 1rem FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "";
        position: relative;
        top: -3px; }
      table tr th a.sort.asc::before {
        display: inline-block;
        margin-right: 5px;
        font: normal normal normal 1rem FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "";
        position: relative;
        top: 4px; }
  table tr td {
    padding: 5px 5px; }
    table tr td.checkbox input {
      display: none; }
  table tr.context-menu-selection {
    background-color: #AA8439 !important; }
    table tr.context-menu-selection:hover {
      background-color: #AA8439 !important; }
    table tr.context-menu-selection .checkbox {
      text-align: center; }
      table tr.context-menu-selection .checkbox::before {
        display: inline-block;
        margin-right: 5px;
        font: normal normal normal 1rem FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "";
        position: relative;
        top: 0; }
      table tr.context-menu-selection .checkbox::before {
        font-size: 0.8rem; }

form {
  background-color: #FFFFFF;
  padding: 10px 10px; }

fieldset {
  padding: 10px 0; }
  fieldset.collapsible legend {
    cursor: pointer;
    font-weight: bold; }
    fieldset.collapsible legend::before {
      display: inline-block;
      margin-right: 5px;
      font: normal normal normal 1rem FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "";
      position: relative;
      top: 1px; }
    fieldset.collapsible legend::before {
      color: #2E4372; }
  fieldset.collapsible.collapsed legend::before {
    display: inline-block;
    margin-right: 5px;
    font: normal normal normal 1rem FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    position: relative;
    top: 1px; }

#main {
  background-color: #eeeeee; }

#content {
  padding: 30px 10px 10px; }

#sidebar {
  background-color: #FFFFFF;
  padding: 30px 10px 10px;
  min-height: 80vh; }

.contextual {
  float: right;
  color: #eeeeee;
  margin: 10px 0 10px 10px; }
  .contextual a {
    background: #3E5D9F;
    color: #FFFFFF;
    padding: 0 10px;
    text-decoration: none;
    font-size: 0.8rem; }
    .contextual a:hover {
      background: #476EC1;
      text-decoration: none; }
    .contextual a.icon-add {
      background: #49D368;
      color: #FFFFFF;
      padding: 0 10px;
      text-decoration: none; }
      .contextual a.icon-add:hover {
        background: #40B55A;
        text-decoration: none; }
      .contextual a.icon-add::before {
        display: inline-block;
        margin-right: 5px;
        font: normal normal normal 1rem FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "";
        position: relative;
        top: 0; }

.icon-time-add::before {
  display: inline-block;
  margin-right: 5px;
  font: normal normal normal 1rem FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  position: relative;
  top: 0; }

.buttons .icon-checked {
  background: #49D368;
  color: #FFFFFF;
  padding: 0 10px;
  text-decoration: none; }
  .buttons .icon-checked:hover {
    background: #40B55A;
    text-decoration: none; }
  .buttons .icon-checked::before {
    display: inline-block;
    margin-right: 5px;
    font: normal normal normal 1rem FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    position: relative;
    top: 1px; }

.buttons .icon-reload {
  background: #FF6858;
  color: #FFFFFF;
  padding: 0 10px;
  text-decoration: none; }
  .buttons .icon-reload:hover {
    background: #F06355;
    text-decoration: none; }
  .buttons .icon-reload::before {
    display: inline-block;
    margin-right: 5px;
    font: normal normal normal 1rem FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    position: relative;
    top: 0; }

#main-menu li, #main-menu a, #top-menu li, #top-menu a {
  display: inline-block; }

#top-menu a {
  padding: 10px 20px; }

#top-menu #loggedas a {
  padding-left: 0; }

#main-menu {
  position: relative;
  padding-top: 20px; }
  #main-menu .menu-children {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3E5D9F;
    display: none; }
    #main-menu .menu-children.visible {
      display: block; }
    #main-menu .menu-children li, #main-menu .menu-children a {
      display: block; }
    #main-menu .menu-children a {
      padding: 10px 10px; }
      #main-menu .menu-children a:hover {
        background-color: #476EC1; }
  #main-menu > ul > li > a {
    padding: 5px 10px;
    background-color: #3E5D9F;
    color: #FFFFFF;
    margin-right: 5px;
    -webkit-box-shadow: inset 0px -10px 5px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px -10px 5px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0px -10px 5px 0px rgba(0, 0, 0, 0.1); }
    #main-menu > ul > li > a:hover {
      background-color: #476EC1;
      -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.05);
      box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.05); }
    #main-menu > ul > li > a.selected {
      background-color: #eeeeee;
      color: #2E4372;
      -webkit-box-shadow: inset 0px 0px 0px 0px transparent;
      -moz-box-shadow: inset 0px 0px 0px 0px transparent;
      box-shadow: inset 0px 0px 0px 0px transparent; }

#top-menu {
  border-top: 4px solid #EF4670; }

#header {
  background-color: #1C2944;
  padding: 20px 10px 0;
  -webkit-box-shadow: inset 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 10px 5px 0px rgba(0, 0, 0, 0.2); }
  #header form {
    background-color: transparent;
    float: left; }
  #header #project_quick_jump_box {
    display: inline-block;
    margin: 10px 0; }
  #header a {
    color: #FFFFFF; }
    #header a:hover {
      color: #EEB74C; }
  #header h1 {
    color: #FFFFFF;
    margin-bottom: 0; }

#footer {
  background-color: #333333;
  padding: 20px 10px;
  color: #FFFFFF; }
  #footer a {
    color: #476EC1; }
    #footer a:hover {
      color: #FFC24B; }
  #footer h1 {
    color: #FFFFFF;
    margin-bottom: 0; }

#projects-index li {
  margin: 10px 10px; }
  #projects-index li a {
    font-size: 1.2rem; }
  #projects-index li.root {
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    padding: 10px 10px;
    border-left: 2px solid #D9456B; }
  #projects-index li ul {
    margin: 10px 20px; }

.splitcontentleft,
.splitcontentright {
  width: 50%; }
  .splitcontentleft > div,
  .splitcontentright > div {
    padding: 10px 10px;
    background-color: #FFFFFF; }

.splitcontentleft {
  float: left;
  padding-right: 5px; }
  .splitcontentleft .wiki {
    background-color: transparent;
    padding-left: 0; }

.splitcontentright {
  float: right;
  padding-left: 5px; }

#query_form {
  margin-bottom: 10px; }

.controller-activities h3 {
  margin: 30px 0 20px; }

.controller-activities .user {
  font-size: 0.8rem;
  color: #9B344E;
  display: block; }

.controller-activities dt span {
  color: #333333;
  display: block;
  font-size: 0.8rem; }

.controller-activities dt {
  position: relative; }
  .controller-activities dt.time-entry::before {
    display: inline-block;
    margin-right: 5px;
    font: normal normal normal 1rem FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    position: relative;
    top: 0; }
  .controller-activities dt.time-entry::before {
    position: absolute;
    top: 0;
    left: -20px; }
  .controller-activities dt.issue::before {
    display: inline-block;
    margin-right: 5px;
    font: normal normal normal 1rem FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    position: relative;
    top: 0; }
  .controller-activities dt.issue::before {
    position: absolute;
    left: -20px;
    top: 2px; }
  .controller-activities dt.news::before {
    display: inline-block;
    margin-right: 5px;
    font: normal normal normal 1rem FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "";
    position: relative;
    top: 0; }
  .controller-activities dt.news::before {
    position: absolute;
    top: 1px;
    left: -22px; }

.news .summary {
  display: block;
  margin: 10px 0; }

.news .comments {
  font-size: 0.8rem;
  color: #333333; }
