// Palette URL: http://paletton.com/#uid=7040Y0kllllkVEvkHu6lZc-o57w */

// RED
$color-primary-lightest: #AA4339;
$color-primary-light: #FF6858;
$color-primary-mid: #F06355;
$color-primary-dark: #64261F;
$color-primary-darkest: #3C130F;

// GOLD
$color-secondary-1-lightest: #AA8739;
$color-secondary-1-light: #FFCC58;
$color-secondary-1-mid: #F0C155;
$color-secondary-1-dark: #644F1F;
$color-secondary-1-darkest: #3C2E0F;

// BLUE
$color-secondary-2-lightest: #303E73;
$color-secondary-2-light: #546CC5;
$color-secondary-2-mid: #465AA3;
$color-secondary-2-dark: #1B2444;
$color-secondary-2-darkest: #0E1329;

// GREEN
$color-complement-lightest: #2B803E;
$color-complement-light: #49D368;
$color-complement-mid: #40B55A;
$color-complement-dark: #184C23;
$color-complement-darkest: #0B2D13;


