#main-menu, #top-menu {
  li, a {
    display: inline-block;
  }
}

#top-menu {

  font-size: $font-size-small;

  a  {
    padding: $base-v-spacer/2 $base-h-spacer;
  }

  #loggedas a {
    padding-left: 0;
  }
}

#main-menu {
  position: relative;
  padding-top: $base-v-spacer*2;
  .menu-children {
    position: absolute;
    top: 100%;
    left: 0;
    font-size: $font-size-small;
    background-color: $color-validate-light;
    display: none;
    z-index: 400;
    &.visible {
      display: block;
    }

    li, a {
      display: block;
    }

    a {
      padding: $base-v-spacer/2 $base-h-spacer;
      @include fa-icon($fa-var-plus);
      @include transition(background-color 0.2s ease);
      &:hover {
        background-color: $color-validate-mid;
      }
    }
  }

  & > ul > li > a {
    padding: $base-v-spacer/2 $base-h-spacer;
    background-color: $color-primary-light;
    color: $color-neutral-lightest;
    margin-right: $base-h-spacer/2;
    @include box-shadow(inset 0px -10px 5px 0px rgba(0,0,0,0.1))
    @include transition(background-color 0.2s ease);

    &:hover {
      background-color: $color-primary-lightest;
      @include box-shadow(inset 0px 0px 0px 0px rgba(0,0,0,0.05))
    }

    &.selected {
      background-color: $color-neutral-light;
      color: $color-primary-mid;
      @include box-shadow(inset 0px 0px 0px 0px rgba(0,0,0,0))
    }
  }
}

.contextual {
  float: right;
  color: $color-neutral-light;
  margin: 0 0 0 $base-h-spacer;
  a {
    @include btn();
    font-size: $font-size-small;

    &.icon-del {
      color: $color-cancel-light;
      background-color: transparent !important;

      &:hover {
        background-color: $color-cancel-light !important;
        color: $color-neutral-lightest;
        @include box-shadow(0px 0px 2px 0px rgba(0, 0, 0, 0));
      }
    }
  }
  .position {
    color: $color-primary-darkest;
  }
}

#context-menu {
  ul {
    padding: 0;
    border-radius: 0;
    border-color: $color-neutral-mid;
    li {
      border-radius: 0 !important;
      border: 0 !important;
      padding: 0;
      &.folder > ul {
        left: 145px;
      }

      a {
        border-radius: 0 !important;
      }

      .icon, .icon-time-add, .icon-copy, .icon-del, .icon-checked {
        @include btn();
        width: 100%;
        &:hover {
          @include box-shadow(0px 0px 0px 0px rgba(0, 0, 0, 0));
        }
      }

      &:hover {
        background-color: $color-neutral-mid;
      }
    }
  }

}

#content .tabs {
  ul {
    margin: $base-v-spacer 0;
  }
  li {
    display: inline-block;
    margin: 0 $base-h-spacer/2 $base-v-spacer/4 0;
    a {
      @include btn();

      &.selected {
        background-color: $color-complement-light;
      }
    }
  }
}

#main-menu a.overview { @include fa-icon($icon-project); }
#main-menu a.activity { @include fa-icon($icon-wiki); }
#main-menu a.roadmap { @include fa-icon($icon-version); }
#main-menu a.issues { @include fa-icon($icon-issue); }
#main-menu a.gantt { @include fa-icon($icon-gantt); }
#main-menu a.calendar { @include fa-icon($icon-cal); }
#main-menu a.news { @include fa-icon($icon-news); }
#main-menu a.documents { @include fa-icon($icon-docs); }
#main-menu a.wiki { @include fa-icon($icon-wiki); }
#main-menu a.boards { @include fa-icon($icon-comment); }
#main-menu a.files { @include fa-icon($icon-file); }
#main-menu a.settings { @include fa-icon($icon-settings); }

#admin-menu {
  padding: $base-v-spacer $base-h-spacer;
  background-color: $color-neutral-lightest;
}