
.controller-issues.action-show {
  #content > h2 {
    margin-bottom: $base-v-spacer;
    margin-top: $base-v-spacer*4;
    clear: none;
  }
  .issue {
    padding-top: $base-v-spacer*3;
  }
}

.issue {

  .splitcontent {
    background-color: $color-neutral-lightest;
    padding: $base-v-spacer;
    margin-top: $base-v-spacer;

    font-size: $font-size-small;
    & > div {
      margin-bottom: $base-v-spacer;
    }
  }

  hr {
    display: none;
  }

  .description {
    background-color: $color-neutral-lightest;
    padding: $base-v-spacer $base-h-spacer;
    margin: $base-v-spacer*3 0;
    hr {
      display: block;
    }
  }

  .label {
    font-weight: bold;
    margin-right: $base-h-spacer;
    width: 170px;
  }

  .label, .value {
    display: inline-block;
    margin-bottom: $base-v-spacer/4;
  }

  .progress {
    .value {
      display: block;
    }
    .label {
      margin-bottom: 0;
    }
  }

  .attributes {
    margin-bottom: -$base-v-spacer;
  }
  & > .gravatar {
    float: left;
  }
  .subject {
    h3 {
      @include fa-icon($icon-issue, 2px);
      margin-bottom: $base-v-spacer/2;
      color: $color-complement-light;
    }
    & div > p {
      @include fa-icon($icon-parent);
      margin: 0;
      font-size: $font-size-small;
    }
  }
  .author {
    font-size: $font-size-small;
    margin-bottom: 0;
  }

}

.issues, .related-issues {
  .checkbox input {
    display: none;
  }
}

.controller-issues .icon-edit {
  @include btn-validate();
}

#issue_tree, #relations, .attachments {
  border: 1px dotted $color-neutral-light;
  padding: $base-v-spacer $base-h-spacer;
  @include transition(border-color 0.2s ease);
  @include clearfix();

  &:hover {
    border-color: $color-neutral-dark;
  }

  form, p {
    padding: 0;
    margin: 0;
    background-color: transparent;
  }
  table {
    margin: 0;
    font-size: $font-size-small;
  }
}

.attachments p {
  padding-top: $base-v-spacer/2;
  @include fa-icon($icon_file);

  .icon-magnifier {
    @include fa-icon($icon_watch);
  }
}
.description, .journal, #issue_tree, #relations, .attachments  {
  .contextual {
    @include transition(opacity 0.2s ease);
    opacity: 0;
  }
  &:hover .contextual {
    opacity: 1;
  }
}


#history {

  padding-top: $base-v-spacer*5;

  .journal {
    background-color: $color-neutral-lightest;
    margin: $base-v-spacer 0;
    padding: $base-v-spacer $base-h-spacer;

    .journal-link {
      float: right;
    }

    .details {
      font-size: $font-size-small;
      line-height: $font-size-small;
      margin: $base-v-spacer*3 $base-h-spacer*3 $base-v-spacer*2;

      i{
        color: $color-cancel-light;

        &:last-child {
          color: $color-validate-light;
        }
      }
    }

    & > div > h4  {
      font-size: $font-size-small;
      margin-left: -$base-h-spacer;
      margin-right: -$base-h-spacer;
      margin-top: -$base-v-spacer;
      margin-bottom: $base-v-spacer;
      padding: $base-v-spacer/2 $base-h-spacer;
      background-color: $color-neutral-mid;
      font-weight: normal;
    }
  }
}

// Issue list
.controller-issues.action-index #content {
  form {
    padding: 0;

    &#query_form {
      padding: $base-v-spacer $base-h-spacer;
    }

  }

  .group {
    background-color: $color-neutral-dark;
    color: $color-neutral-lightest;
    .expander {
      cursor: pointer;
      @include fa-icon($icon-collapse-open, 1px);
    }
    &.open .expander {
      @include fa-icon($icon-collapse-close, 1px);
    }
    a {
      float: right;
      color: $color-neutral-mid;
      font-size: $font-size-small;
    }
    td {
      padding-top: $base-v-spacer;
      padding-bottom: $base-v-spacer/4;
    }
  }
}

.list.issues {
  td {
    font-size: $font-size-small;

    a {
      color: $color-neutral-dark;

      &:hover {
        color: $color-complement-light;
      }
    }
  }
  .id {
    text-align: center;
  }
  .description {
    padding-left: 30px + $base-h-spacer;
    border-top: 1px solid $color-neutral-light;
  }
}

.search_for_watchers a {
  @include fa-icon($icon-watch);
}

#preview > fieldset {
  background-color: $color-neutral-lightest;
  padding: $base-v-spacer $base-h-spacer;
  border-left: $base-highlight-border-width solid $color-complement-light;

  legend {
    display: none;
  }
}

.idnt .subject {
  @include fa-icon($icon-parent);
  &::before {
    @include rotate(90deg);
  }
}

.idnt-1 .subject {
  padding-left: $base-h-spacer*2;
}
.idnt-2 .subject {
  padding-left: $base-h-spacer*4;
}
.idnt-3 .subject {
  padding-left: $base-h-spacer*6;
}
.idnt-4 .subject {
  padding-left: $base-h-spacer*8;
}
.idnt-5 .subject {
  padding-left: $base-h-spacer*10;
}