.controller-projects {
  .splitcontentleft,
  .splitcontentright {
    & > div {
      padding: $base-v-spacer $base-h-spacer;
      margin-bottom: $base-v-spacer;
      background-color: $color-neutral-lightest;

      &.news > p > a {
        font-weight: bold;
      }

      &.projects {
        color: $color-neutral-lightest;
        h3 {
          color: $color-neutral-darkest;
        }
        .project {
          display: block;
          height: auto;
          @include fa-icon($icon-project);
        }
      }
    }
  }

  .author {
    font-size: $font-size-small;
    position: relative;
    top: -2 * $base-v-spacer;
  }
}

#projects-index {

  ul {
    margin: 0;
  }

  li{
    margin: $base-v-spacer $base-h-spacer;
    list-style: none;

    a {
      font-size: $font-size-big;
    }

    &.root {
      margin-left: 0;
      margin-right: 0;
      background-color: #fff;
      padding: $base-v-spacer $base-h-spacer;
    }

    ul {
      margin: $base-v-spacer $base-h-spacer*2;
    }
  }
}

.controller-timelog {
  #content .tabs {
    background-color: $color-neutral-light;
    margin-left: $base-h-spacer*-1;
    margin-right: $base-h-spacer*-1;
    padding-top: $base-v-spacer;
  }

  &.action-index #content .tabs {
    margin-bottom: $base-v-spacer*-2;
  }

  &.action-report #content .tabs {
    padding-bottom: $base-v-spacer;
    margin-bottom: $base-v-spacer;
  }
}