.wiki.wiki-page {
  padding: $base-v-spacer $base-h-spacer;
  background-color: $color-neutral-lightest;

  .contextual a{
    font-size: $font-size-small;
    padding: $base-v-spacer/4 $base-h-spacer/2;
  }

  h1 {
    margin-top: $base-v-spacer*3;
  }
}

.controller-wiki.action-show {
  #content > .contextual {
    position: relative;
    top: $base-v-spacer;
    right: $base-h-spacer;
  }
}

.wiki-page .contextual {
  position: relative;
  top: $base-v-spacer;
  right: $base-h-spacer;
  opacity: .4;
  &:hover {
    opacity: 1;
  }
}

#wiki_add_attachment {

  padding: $base-v-spacer $base-h-spacer;
  margin: $base-v-spacer 0;
  background-color: $color-neutral-lightest;

  & > p {
    margin: 0;
    a {
      @include btn-validate();
      @include fa-icon($icon-add);
    }
  }

  .box {
    margin-top: $base-v-spacer;

    input {
      margin: 0;
    }
  }
}

.wiki-anchor {
  display: none;
}

.wiki-page {
  h1, h2, h3, h4, h5, h6 {
    line-height: inherit;
    margin-top: $base-v-spacer*3;
    &:hover {
      .wiki-anchor {
        display: inline-block;
        padding: 0 $base-h-spacer;
      }
    }
  }
}


